<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-xl-8">
                <div class="ibox">
                    <div class="ibox-body">
                        <div class="flexbox mb-5">
                            <div class="flexbox">
                                <span class="mr-4" style="width:60px;height:60px;background-color:#e7e9f6;color:#5c6bc0;display:inline-flex;align-items:center;justify-content:center;font-size:35px;"><i class="ti-files"></i></span>
                                <div>
                                    <h5 class="font-strong">TOP 5 Metrics</h5>
                                    <div class="text-light">Top 5 metrics about your video.</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab_1">
                                <div class="flexbox">
                                    <div class="text-center">
                                        <div class="mb-3">Subscribers</div>
                                        <div class="easypie" data-percent="44" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">44</span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Views</div>
                                        <div class="easypie" data-percent="28" data-bar-color="#18c5a9" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">28</span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Likes</div>
                                        <div class="easypie" data-percent="9" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">9</span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Dislikes</div>
                                        <div class="easypie" data-percent="13" data-bar-color="#ff4081" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">13</span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Duration</div>
                                        <div class="easypie" data-percent="6" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">6</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_2">
                                <div class="flexbox">
                                    <div class="text-center">
                                        <div class="mb-3">Blog Catalog</div>
                                        <div class="easypie" data-percent="33" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">33<sup>%</sup></span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Shop Catalog</div>
                                        <div class="easypie" data-percent="42" data-bar-color="#18c5a9" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">42<sup>%</sup></span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Profile</div>
                                        <div class="easypie" data-percent="8" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">8<sup>%</sup></span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Main Page</div>
                                        <div class="easypie" data-percent="11" data-bar-color="#ff4081" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">11<sup>%</sup></span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Profile</div>
                                        <div class="easypie" data-percent="6" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">6<sup>%</sup></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_3">
                                <div class="flexbox">
                                    <div class="text-center">
                                        <div class="mb-3">Blog Catalog</div>
                                        <div class="easypie" data-percent="41" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">41<sup>%</sup></span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Shop Catalog</div>
                                        <div class="easypie" data-percent="32" data-bar-color="#18c5a9" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">32<sup>%</sup></span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Profile</div>
                                        <div class="easypie" data-percent="10" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">10<sup>%</sup></span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Main Page</div>
                                        <div class="easypie" data-percent="12" data-bar-color="#ff4081" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">12<sup>%</sup></span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="mb-3">Profile</div>
                                        <div class="easypie" data-percent="5" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                            <span class="easypie-data h3 font-strong">5<sup>%</sup></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ./footer %>
</div>