<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.7/metisMenu.min.css" rel="stylesheet"> -->
<link href="css/main.min.css" rel="stylesheet" />
<link href="css/mystyles.css" rel="stylesheet" />

<link href="css/lib/metisMenu.css" rel="stylesheet" />

<link href="css/lib/themify-icons.css" rel="stylesheet" />
<link href="css/lib/animate.css" rel="stylesheet" />
<link href="css/lib/lineawesome.css" rel="stylesheet" />

<link href="css/lib/morris.css" rel="stylesheet" />
