<nav class="page-sidebar" id="sidebar">
    <div id="sidebar-collapse">
        <ul class="side-menu metismenu">
            <li class="active">
                <a href="href=&quot;javascript:;&quot;">
                    <i class="sidebar-item-icon ti-view-grid"></i>
                    <span class="nav-label">Dashboards</span>
                    <i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse in">
                    <li>
                        <a class="active" href="/">Main Dashboard</a>
                    </li>
                </ul>
            </li>
            <li class="heading">FEATURES</li>
        </ul>
        <div class="sidebar-footer">
            <!-- <a href="javascript:;"><i class="ti-announcement"></i></a>
                <a href="calendar.html"><i class="ti-calendar"></i></a>
                <a href="javascript:;"><i class="ti-comments"></i></a> -->
            <a href="/logout">
                <i class="ti-power-off"></i>
            </a>
        </div>
    </div>
</nav>