<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Youtube Analytics | Akhil Mukkamala</title>
    <% include ./partials/common-styles %>
    <link href="css/main.min.css" rel="stylesheet" />
</head>

<body class="fixed-navbar">
    <% include ./partials/common-scripts %>
    <script type="text/javascript" src="js/dashboard_visitors.js"></script>
    <div class="page-wrapper">
        <% include ./partials/header %>

        <% include ./partials/nav %>

        <% include ./partials/analy %>

    </div>

    <% include ./partials/quick-sidebar %>
</body>

</html>