.flexbox.flex-1{
    right: 0% !important;
    top: 5px;
    position: absolute;
}

.header .admin-dropdown-menu .admin-menu-features {
    padding: 25px 45px !important;
}

.dropdown-menu.dropdown-arrow.dropdown-menu-right.admin-dropdown-menu.show{
    max-width: 370px !important;
}

.dropdown-menu.dropdown-arrow.dropdown-menu-right.admin-dropdown-menu.show >.dropdown-header{
    padding: 15px 25px !important;
}

input{
    outline: none !important;
    outline-style: none !important;
}
*:focus {
    outline: 0 none !important;
    border: none !important;
}

input:focus, textarea:focus, select:focus{
    outline: none !important;
    border: none !important;
}

input.form-control-air{
    border: none !important;
}